---
layout: page
title: Books
permalink: /books/
---

A place to crack books that I've

<script type="text/javascript">$(document).ready(function() {
    $('table').tablesort();
});</script>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Year Published</th>
        <th>Read</th>
    </tr>
    </thead>
    {% assign books = site.data.library | sort: "read_when", "first" %}
    {% for book in books %}
    <tr>
        <td>{{ book.title}}</td>
        <td>{{ book.authors }}</td>
        <td>{{ book.publishing_year  }}</td>
        <td><ul>
            {% for date in book.read_when %}
            <li>{{ date | date: "%Y-%m-%d" }}</li>
            {% endfor %}
        </ul></td>

    </tr>
    {% endfor %}
</table>
